.content {
  #commercial {
    margin-top: .3em;
    color: #000000;
    text-decoration: none;
  }
  
  #register_ {
    width: 100%;
  }

  .residual {
    #login {
      color: #000000;
    }
  }
}