.context {
  p.sec_title {
    font-size: large;
    font-weight: bold;
    margin-bottom: .5em;
  }

  .sec_txt {
    font-size: medium;
  }

  .sites {
    width: 80%;
    margin-left: 10%;

    img {
      margin-left: 8%;
      width: 24%;
      height: 4vh;
    }
  }

  #apply {
    width: 100%;
    color: #ffffff;
    background-color: #FF7C00;
  }

  #back {
    width: 60%;
    margin-left: 20%;
    border-radius: 2vw;
  }
}