.context {
  #qr_code {
    align-items: center;
    width: 40%;
    margin-top: 1em;
    margin-left: 30%;
    margin-bottom: 1em;
  }

  p.sec_txt {
    font-size: small;
    text-align: center;
  }

  #send {
    width: 100%;
    color: #FFFFFF;
    background-color: #FF7C00;
  }
}